---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Apple SD Gothic Neo', AppleGothic, 'Malgun Gothic', dotum;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$en-font-family: 'Cabin Sketch', Helvetica, Arial, sans-serif;

$spacing-unit:     30px;

$text-color:       #111;
$border-color:     #fff;
$background-color: #e1e4e5;
$brand-color:      #005689;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;
$on-pc:				1024px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@if $device == $on-pc {
		@media screen and (min-width: $device) {
	        @content;
	    }
	}
	@else {
	    @media screen and (max-width: $device) {
	        @content;
	    }
	}
}


@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "post"
;
