---
layout: default
description: A description about my blog homepage
---

<div id="posts">
	<h2>Post list</h2>
	<ul class="post-list-1">
	{% for post in paginator.posts %}
		<li class="cate-{{ post.category }}">
			<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.content | strip_html | truncatewords: 25 }}</p>
			<ul class="post-meta">
				<li>Date : {{ post.date | date_to_string }}</li>
				<li>Category : {{ post.category }}</li>
				<li>Tag : {{ post.tags }}</li>
			</ul>
		</li>
	{% endfor %}
	</ul>
  	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
		{% else %}
		<span>Prev</span>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			<em>{{ page }}</em>
			{% elsif page == 1 %}
			<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
		{% else %}
		<span>Next</span>
		{% endif %}
	</div>
	{% endif %}
</div>

