---
layout: page
title: portfolio
permalink: /portfolio/
---
<div id="posts">
	<h2 class="hidden">전체 목록</h2>
	<ul class="post-list-2">
	{% for post in site.portfolio reversed %}
		<li class="post">
			<a href="{{ site.baseurl }}{{ post.url }}" class="btn-pop">
				<article style="display:inline-block;vertical-align:middle">
					<h3>{{ post.title }}</h3>
					<div class="loader"></div>
					<p class="post-cate">{{ post.category }}</p>
          {% if post.thumImg != false  %}
					<figure class="post-thum"><img src="/jkw/portfolio/images/{{ post.url | slice:22,50}}img01.jpg" alt="{{ post.title }} 대표 이미지" /></figure>
          {% endif %}
					<p class="post-meta"><i class="fa fa-calendar"></i> {{ post.dateStart }} ~ {{ post.dateEnd }}</p>
				</article>
				<b style="display: inline-block;height: 100%;vertical-align: middle;"></b>
			</a>
		</li>
	{% endfor %}
	</ul>

</div>
<div class="popup">
	<div class="pop-content"></div>
	<button class="btn-close"><i class="fa fa-close"></i><span class="hidden">Close</span></button>
</div>
<script type="text/javascript" src="{{ "/js/iscroll.js" | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function(){
	//var myScroll = new IScroll('.popup');

  $('.btn-pop').click(function() {
    var popHref = $(this).attr('href');
		$(this).addClass('post-loading');
    $.get(popHref, { ref:popHref }, function(data) {
       $('.pop-content').html(data);

			 setTimeout(function(){
				 $('.popup').addClass('show-popup');
				 $('body').css('overflow', 'hidden');
			 },2200);

       //$('.test').dialog();
    });
    return false; // prevent default
  });

	$('.btn-close').click(function(){
		$('.btn-pop').removeClass('post-loading');
		$('.popup').removeClass('show-popup');
		$('body').css('overflow', '');
	});
});

</script>
