/**
 * Site post
 */
 .post-list-1{
 	margin:0; list-style:none;
 	
 	>li{
 		position:relative;
 		border-bottom:1px solid $border-color;
 		padding:$spacing-unit 0;
 	}
 	h3{margin-bottom:0;
        sup{display:block;color:$border-color;margin-bottom:$spacing-unit/4;}
    }
 	p{margin:0;font-size:$small-font-size}
 	.post-meta{
 		overflow:hidden;margin:$spacing-unit/4 0;list-style:none;
 		li{float:left;margin-right:$spacing-unit;}
 	}
 }


 .pagination{
 	text-align:right;margin-top:$spacing-unit;font-family:$en-font-family;
 	a, span, em{
 		display:inline-block;text-align:center;
 		padding-left:8px;padding-right:8px;
        text-transform:uppercase;
        border:1px solid $border-color;
 	}
     em{border-color:$brand-color;color:$brand-color;font-style:normal}
 }